<html>
  <head>
    <title>Class Transcribe</title>

    <!-- Begin Javsacript -->
    <script src="/javascripts/libraries/jquery-1.11.2.min.js"></script>
    <script src="/javascripts/libraries/jquery.mousewheel.min.js"></script>
    <script src="/javascripts/libraries/underscore.js"></script>
    <script src="/javascripts/libraries/disableMacBack.js"></script>
    <script src="/javascripts/libraries/completely.js"></script>

    <script src="/javascripts/libraries/wavesurfer/src/wavesurfer.js"></script>
    <script src="/javascripts/libraries/wavesurfer/src/util.js"></script>
    <script src="/javascripts/libraries/wavesurfer/src/webaudio.js"></script>
    <script src="/javascripts/libraries/wavesurfer/src/mediaelement.js"></script>
    <script src="/javascripts/libraries/wavesurfer/src/drawer.js"></script>
    <script src="/javascripts/libraries/wavesurfer/src/drawer.canvas.js"></script>

    <script>
      var taskName = "{{taskName}}";
      var videoTitle = taskName.split("_").join(" ");
      var videoIndex = taskName.split("_")[3];
      var videoPart = taskName.split("_")[4];
      var s3Url = "https://s3-us-west-2.amazonaws.com/classtranscribe/{{className}}/Lecture_" + videoIndex + "/" + taskName;

      var VIDEOS = [
        [videoTitle, s3Url + ".mp4", s3Url + ".mp3"],
      ];

      $(document).ready(function () {
        VIDEOS.forEach(function (video, i) {
          var title = video[0];
          var src = video[1];
          var template = '<option class="video-option" value="' + i + '">' + title + '</option>';
          $(".video-selector").append(template);
        });
      });

      /*
        Loads the selected video
      */
      function loadVideo(videoIndex) {
        var videoSrc = VIDEOS[videoIndex][1];
        $(".main-video-source").attr("src", videoSrc);
        $(".main-video").get(0).load();
      }
    </script>

    <script src="/javascripts/controllers/index.js"></script>

    <script>
      (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
      (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
      m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
      })(window,document,'script','//www.google-analytics.com/analytics.js','ga');

      ga('create', 'UA-29520426-2', 'auto');
      ga('send', 'pageview');
    </script>
    <!-- End Javascript -->

    <!-- Begin Fonts -->
    <link href='http://fonts.googleapis.com/css?family=Bilbo+Swash+Caps' rel='stylesheet' type='text/css'>
    <!-- End Fonts -->

    <!-- Begin Stylesheets -->
    <link rel="stylesheet" type="text/css" href="/stylesheets/reset.css">
    <link rel="stylesheet" type="text/css" href="/stylesheets/index.css">
    <!-- End Stylesheets -->
  </head>
  <body>
    <div class="tutorial">
      Please watch this video before starting: <br> <a target="_blank" href="https://youtu.be/CxMeISS2QcQ">https://youtu.be/CxMeISS2QcQ</a>
    </div>
    <div class="main-container">
      <div class="header-container">
        <h1>Class Transcribe</h1>
      </div>
      <div class="video-container">
        <video class="main-video" width="600" controls>
          <source class="main-video-source" src="http://angrave.github.io/sysassets/mp4/0010-HelloWorld-v2.mp4" type="video/mp4">
        </video>
      </div>
      <div class="video_control-container">
        <select class="video-selector"></select>
        <select class="playback-selector">
          <option value="1">Playback 1x</option>
          <option value="0.7">Playback 0.7x</option>
          <option value="0.6">Playback 0.6x</option>
          <option selected value="0.5">Playback 0.5x</option>
        </select>
      </div>
      <div class="waveform-container">
        <div class="waveform-loading">Loading Waveform...</div>
        <div class="waveform-outer">
          <div id="waveform"></div>
        </div>
      </div>
      <div class="transcription-input-container">
        <!-- <input class="transcription-input" type="text" placeholder="Start transcribing here..."></input> -->
        <div id='completely-input-container'></div>
      </div>
      <div class="transcription-container"></div>
      <button class="submit">Submit Transcription</button>
    </div>
  </body>
 </html>