<!DOCTYPE html>
<html lang="en">

<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <title>Class Transcribe</title>
    <link rel="stylesheet"  type="text/css" href="/stylesheets/global.css">
    <link rel="stylesheet" type="text/css" href="stylesheets/resetHome.css" />
    <link rel="stylesheet" type="text/css" href="stylesheets/home.css" />
    <link rel="stylesheet" type="text/css" href="stylesheets/style-responsive.css" />

    <script>
         var piwikServer = "{{piwikServer}}";
    </script>
 	<script src="/javascripts/libraries/header.js"></script>
</head>

<body>
    <a href="/">Home</a>
    <script>
        var piwikLink = document.createElement('a');
        piwikLink.innerHTML = "Piwik";
        piwikLink.href = "https://" + piwikServer + "/";
        document.body.appendChild(piwikLink);
    </script>
</body>

</html>
