<!DOCTYPE html>
<html lang="en">

<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <title>Reset Password</title>
  <link rel="stylesheet"  type="text/css" href="/stylesheets/global.css">
	<link rel="stylesheet" type="text/css" href="/stylesheets/resetPassword.css" />
	<script language="JavaScript" type="text/javascript" src="/javascripts/libraries/jquery-1.11.2.min.js"></script>
    <script src="/javascripts/controllers/accountRegistration.js"></script>
</head>

<body>
	<form id="reset-password-form" method="POST" action="/resetPassword/submit">
		<div class="reset-container">
			<h1>RESET PASSWORD</h1>
			<h2>Enter the email address you used to register for ClassTranscribe.</h2> <br>
			<input type="text" placeholder="Email" pattern="^\w+@[a-z]+?\.edu$" name="email" required> <br>
			<button type="submit" name="password-submit" class="email-submit">SUBMIT</button> <br>
		</div>
	</form>
</body>

</html>
