@import url(https://fonts.googleapis.com/css?family=Source+Sans+Pro:400&subset=latin,latin-ext);

label {
    font-family: 'Source Sans Pro', sans-serif;
    font-size:15px;
}

input[type=text], input[type=password] {
    font-family: 'Source Sans Pro', sans-serif;
    font-size:15px;
    width: 350px;
    padding: 12px 20px;
}

h1{
    font-family: 'Source Sans Pro', sans-serif;
    font-size:15px;
    margin:auto;
    color:black
}

.recovery-container {
    text-align:center;
    padding-top: 250px;
}