@import url(http://fonts.googleapis.com/css?family=Source+Sans+Pro:400,200,300,700,900&subset=latin,latin-ext);

body {
    background:#b3e6ff;
}

.content{
    position:relative;
    width:900px;
    margin:0 auto;
    height:580px;
}

.content .home-container {
    float: left;
}
  
.content .home-container .home {
    width:100px;
    height:47px;
    margin:50px auto;
    border:1px solid white;
    text-transform:uppercase;
    color:white;
    cursor:pointer;
    font-size:15px;
    background:#66ccff;
}
  
.content .home-container .home:hover {
    color:black;
    background:white;
}

.content .container {
    float: right;
}

.content .container .user {
    width:100px;
    height:47px;
    margin:50px auto;
    border:1px solid white;
    text-transform:uppercase;
    color:white;
    cursor:pointer;
    font-size:15px;
    background:#66ccff;
}
  
.content .container .user:hover {
    color:black;
    background:white;
}
  
.content .container .logout-home {
    width:100px;
    height:47px;
    margin:50px auto;
    border:1px solid white;
    text-transform:uppercase;
    color:white;
    cursor:pointer;
    font-size:15px;
    background:#66ccff;
}
  
.content .container .logout-home:hover {
    color:black;
    background:white;
}

.dashboard-container {
    position:absolute;
    top:50%;
    left:50%;
    margin-top:-61px;
    margin-left:-155px;
}

h1 {
    font-family: 'Source Sans Pro', sans-serif;
    font-size:48px;
    height:74px;
    margin:auto;
    color:white;
    font-weight:bold;
    text-transform:uppercase;
}

.button{
    position:absolute;
    top:50%;
    left:50%;
    margin-top:-24px;
    margin-left:-155px;
}
  
.dashboard-container .manage {
    font-family: 'Source Sans Pro', sans-serif;
    font-size:15px;
    width:153px;
    height:48px;
    margin:auto;
    border:1px solid white;
    text-transform:uppercase;
    color:white;
    cursor:pointer;
    background:#66ccff;
}

.dashboard-container .manage:hover{
    color:black;
    background:white;
}

.dashboard-container .add {
    font-family: 'Source Sans Pro', sans-serif;
    font-size:15px;
    width:153px;
    height:48px;
    margin:auto;
    border:1px solid white;
    text-transform:uppercase;
    color:white;
    cursor:pointer;
    background:#66ccff;
}

.dashboard-container .add:hover{
    color:black;
    background:white;
}