@import url(http://fonts.googleapis.com/css?family=Source+Sans+Pro:400&subset=latin,latin-ext);

label {
    font-family: 'Source Sans Pro', sans-serif;
    font-size:15px;
}

input[type=text], input[type=password] {
    font-family: 'Source Sans Pro', sans-serif;
    font-size:15px;
    width: 350px;
    padding: 12px 20px;
}

h1 {
    font-family: 'Source Sans Pro', sans-serif;
    font-size:30px;
    padding-bottom:30px;
    margin:auto;
    color:black
}

h2 {
    font-family: 'Source Sans Pro', sans-serif;
    font-size:15px;
    margin:auto;
    color:black
}

.email-submit {
    width:183px;
    height:47px;
    margin:50px auto;
    border:1px solid white;
    text-transform:uppercase;
    color:white;
    cursor:pointer;
    font-size:15px;
    background:#00a5d7;
}

.reset-container {
    text-align:center;
    padding-top: 250px;
}

span.psw {
    padding-top: 16px;
    font-family: Sans-Serif;
    font-style: normal;
    font-size: 15px;
}

span.psw a{
    text-decoration:none;
    outline:none;
    color:blue;
}