@import url(https://fonts.googleapis.com/css?family=Source+Sans+Pro:400&subset=latin,latin-ext);

label {
    font-family: 'Source Sans Pro', sans-serif;
    font-size:15px;
}

h1{
    font-family: 'Source Sans Pro', sans-serif;
    font-size:15px;
    margin:auto;
    color:black
}

.verify-container {
    text-align:center;
    padding-top: 250px;
}