body {
  font-family: Arial, sans-serif;
}

.info {
  background-color: #eee;
  border: thin solid #333;
  border-radius: 3px;
  margin: 0 0 20px;
  padding: 0 5px;
}

.player-container {
  background: #1a1a1a;
  overflow: auto;
  /*width: 900px;*/
  width: 100%;
  margin-left: 0;
  margin-left: 0;
  /*margin: 0 0 20px;*/
}

.video-js {
  height: 600px;
  /*width: 1100px;*/
  width: 75%;
  float: left;
}

.vjs-playlist {
  /*width: 280px;*/
  width: 25%;
  height: 600px;
}
