#live_transcriptions {
    height: 440px;
    /* background-color:#CCC; */
    overflow-y: auto;
    position: relative;
    margin-left: -5px;
}
.list-group-item {
    min-height: 40px;
}
/*.row {
    background: #f8f9fa;
    margin-top: 20px;
}

.col {
    padding: 10px;
    min-height: 50px;
    max-height: 50px;
}*/
#full_course_search_div {
    max-height: 45px;
}

.transcription-item {
    text-align: left;
}

.edit-box {
    height: 25px;
    margin: 0px 0px 0px 0px;
}

.btn-sm {
    height: 25px;
}

.player-container {
    max-height: 50vh;
}

.video-js {
    max-height: 50vh;
}
.vjs-playlist {
    max-height: 50vh;
}
.vjs-playlist-item {
    height: 70px;
}