* {
  font-family: Arial, 'Helvetica Neue', Helvetica, sans-serif !important;
}

.main-container {
  padding-top: 20px;
  width: 600px;
  margin: 0 auto;
}

.header-container, .video-container, .video_control-container {
  margin: 10px 0;
  text-align: center;
}

.waveform-container {
  position: relative;
  overflow-x: scroll;
  border: 1px solid silver;
  margin-bottom: 10px;
}

.transcription-container {
  margin: 10px 0;
}

h1 {
  font-weight: bold;
  font-size: 45px;
  font-family: 'Bilbo Swash Caps', cursive !important;
  font-style: italic;
}

.transcription-input {
  width: 100%;
  padding: 15px 10px;
  font-size: 14px;
}

.transcription-container {
  max-height: 150px;
  overflow-y: scroll;
}

.transcription-segment {
  color: gray;
  margin-bottom: 3px;
}

*:focus {
    outline: 0;
}

.waveform-loading {
  position: absolute;
  padding: 5px;
  font-size: 14px;
}

.waveform-loading.hidden {
  display: none;
}

.submit {
  width: 100%;
  padding: 15px;
  background-color: white;
  border: 2px solid silver;
  font-weight: bold;
  font-size: 12px;
}

.submit:hover {
  cursor: pointer;
}

.submit.unclickable:hover {
  cursor: auto !important;
}

.consent-container {
  background-color: rgba(0,0,0,0.95);
  position: fixed;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
  z-index: 100;
}

.consent-box {
  width: 550px;
  max-height: 80%;
  margin: 0 auto;
  background-color: white;
  border: 1px solid silver;
  border-radius: 5px;
  margin-top: 50px;
  padding: 20px;
  overflow: scroll;
}

.consent-title {
  font-weight: bold;
  font-size: 18px;
  margin-bottom: 10px;
}

.consent-body {
  height: 555px;
  overflow: scroll;
  font-size: 12px;
}

.consent-body p {
  margin-bottom: 5px;
}

.consent-agree {
  width: 100%;
  padding: 10px;
  background-color: white;
  border: 2px solid silver;
  margin-bottom: 0;
  margin-top: 5px;
  font-weight: bold;
  font-size: 12px;
}

.consent-agree:hover {
  cursor: pointer;
}