* {
  font-family: Arial, 'Helvetica Neue', Helvetica, sans-serif !important;
}

.main-container {
  padding-top: 20px;
  width: 600px;
  margin: 0 auto;
}

.header-container, .video-container, .video_control-container {
  margin: 10px 0;
  text-align: center;
}

.waveform-container {
  position: relative;
  overflow-x: scroll;
  border: 1px solid silver;
  margin-bottom: 10px;
}

.transcription-container {
  margin: 10px 0;
}

h1 {
  font-weight: bold;
  font-size: 36px;
  font-family: cursive !important;
}

.transcription-input {
  width: 100%;
  padding: 15px 10px;
  font-size: 14px;
}

.transcription-container {
  max-height: 200px;
  overflow-y: scroll;
}

.transcription-segment {
  color: gray;
  margin-bottom: 3px;
}

*:focus {
    outline: 0;
}

.waveform-loading {
  position: absolute;
  padding: 5px;
  font-size: 14px;
}

.waveform-loading.hidden {
  display: none;
}