@import url(http://fonts.googleapis.com/css?family=Source+Sans+Pro:400&subset=latin,latin-ext);

body {
    background:white;
}

.reset-container {
    width:300px;
    height:226px;
    position:absolute;
    top:50%;
    left:50%;
    margin-top:-113px;
    margin-left:-150px;
}

h1{
    font-family: 'Source Sans Pro', sans-serif;
    font-size:32px;
    margin:auto;
    color:black
}

h2{
    font-family: 'Source Sans Pro', sans-serif;
    font-size:18px;
    margin:auto;
    color:black;
}

.container {
    width:300px;
    height:102px;
    position:absolute;
    padding-top:15px;
}

input[type=text] {
    font-family: 'Source Sans Pro', sans-serif;
    font-size:15px;
    width:256px;
    height:20px;
    margin:auto;
    position:absolute;
    padding:12px 20px;
}

button[type=send-password] {
    font-family: 'Source Sans Pro', sans-serif;
    font-size:15px;
    width:300px;
    height:48px;
    margin:auto;
    border:1px solid white;
    text-transform:uppercase;
    color:white;
    cursor:pointer;
    background:grey;
    position:absolute;
}

button[type=send-password]:hover{
    color:white;
    background:#b3e6ff;
}

.error-modal {
    display:none;
    position:absolute;
    z-index:1;
    width:400px;
    height:117px;
    left: 50%;
    top: 50%;
    margin-top:-140px;
    margin-left:-200px;
    overflow:hidden;
    background-color:rgb(255,255,255);
    padding-top:60px;
}

.error-modal-content {
    background-color: #fefefe;
}

.error {
    font-family: 'Source Sans Pro', sans-serif;
    font-size:15px;
    padding-bottom:80px;
    padding-left:20px;
    padding-right:20px;
}

.close {
    position: absolute;
    right: 25px;
    top: 10px;
    color: #000;
    font-family: Sans-Serif;
    font-style: normal;
    font-size: 40px;
    font-weight: bold;
}

.close:hover,
.close:focus {
    color: red;
    cursor: pointer;
}