* {
  font-family: Arial, 'Helvetica Neue', Helvetica, sans-serif !important;
}

.main-container {
  padding-top: 20px;
  width: 600px;
  margin: 0 auto;
}

.header-container, .search-container {
  margin: 10px 0;
  text-align: center;
}


h1 {
  font-weight: bold;
  font-size: 45px;
  font-family: 'Bilbo Swash Caps', cursive !important;
  font-style: italic;
}

.search-box {
  padding: 15px;
  width: 100%;
  font-size: 20px;
  border: 1px solid rgba(210, 210, 210, 0.8);
}

.search-results-container div {
  border: 1px solid rgba(210, 210, 210, 0.8);
  border-top: none;
  cursor: pointer;
}

.search-results-container div:hover {
  background-color: rgba(245, 245, 245, 0.5);
}

.search-results-container div:first-child {
  border-top: 1px solid rgba(210, 210, 210, 0.8);
}

.search-results-container div a {
  color: #3b5998;
  text-decoration: none;
  padding: 13px;
  display: block;
}

.search-results-container div a:hover {
  color: #3b5998;
}

b {
  font-weight: bold;
}

* {
  outline: none;
}