* {
  font-family: Arial, 'Helvetica Neue', Helvetica, sans-serif !important;
}

.main-container {
  padding-top: 20px;
  padding-bottom: 20px;
  width: 600px;
  margin: 0 auto;
}

.header-container, .video-container, .video_control-container {
  margin: 10px 0;
  text-align: center;
}

.transcription-container {
  margin: 10px 0;
}

h1 {
  font-weight: bold;
  font-size: 36px;
  font-family: cursive !important;
}

.transcription-viewer-container {
  max-height: 250px;
  color: gray;
  overflow: scroll;
}

.selected-caption {
  background-color: yellow;
  font-weight: bold;
  color: black;
}

.caption {
  padding: 1px 0;
}