* {
  font-family: Arial, 'Helvetica Neue', Helvetica, sans-serif !important;
}

.main-container {
  padding-top: 20px;
  padding-bottom: 20px;
  width: 600px;
  margin: 0 auto;
}

.header-container, .video-container, .video_control-container {
  margin: 10px 0;
  text-align: center;
}

.transcription-container {
  margin: 10px 0;
}

.share-container {
  height: 50px;
}

.copy-text-area, .copy-text-button {
  display: none

}

h1 {
  font-weight: bold;
  font-size: 45px;
  font-family: 'Bilbo Swash Caps', cursive !important;
  font-style: italic;
}

.transcription-viewer-container {
  max-height: 250px;
  color: gray;
  overflow: scroll;
}

.selected-caption {
  background-color: yellow;
  font-weight: bold;
  color: black;
}

.caption {
  padding: 5px;
}