<!DOCTYPE html>
<html lang="en">

<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0"> 

    <title>Account Recovery</title>
    
    <link rel="stylesheet" type="text/css" href="/stylesheets/accountRecovery.css" />
</head>

<body>
    <div class="recovery-container">
		<h1>Thanks! We have just sent you an email with a link to set a new password. Go to your inbox, and click on the link in the email to continue.</h1>
    </div> 
</body>

</html>