<!DOCTYPE html>
<html lang="en">

<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <title>Activate</title>
    <link rel="stylesheet"  type="text/css" href="/stylesheets/global.css">
    <link rel="stylesheet" type="text/css" href="/stylesheets/activated.css" />
</head>

<body>
    <div class="activate-container">
		<h1>Thanks for verifying your email! Please continue to the login page to visit your dashboard.</h1>
        <button type="submit" class="login-submit" id="redirect-login" onclick="window.location='/login';">Login</button> <br>
    </div>
</body>

</html>
