<section class="login">

        <a href="/user", style="color:white">{{user}}</a>
        <a href="/logout", style="color:white">Log out</a>
        <a href="/admin", style="color:white">Admin</a>

</section>
