<html>
    <head>
    <link rel="stylesheet"  type="text/css" href="/stylesheets/global.css">
    <link rel="stylesheet" type="text/css" href="/stylesheets/loginbar.css" />
    </head>

    <body>
        <div class = "login-bar">
             <a class = "login-bar-link", href="/user">{{user}}</a>
             <a class = "login-bar-link", href="/logout">Log out</a>
             <a class = "login-bar-link", href="/admin">Admin</a>
        </div>
    </body>
</html>
