<!DOCTYPE html>
<html lang="en">

<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0"> 
    <title>Dashboard</title>
    <link rel="stylesheet" type="text/css" href="/stylesheets/dashboard.css" />
</head>

<body>
	<div class="dashboard-container">
		<h1>DASHBOARD</h1>
		<div class="buttons">
			<button type="manage" class="manage" onclick="window.location='/manageCourse';"/>Manage Course</button>
			<button type="add" class="add" onclick="window.location='/addCourse';"/>Add Course</button>
		</div>
	</div>
</body>