<!DOCTYPE html>
<html lang="en">

<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0"> 

    <title>Class Transcribe</title>

    <link rel="stylesheet" type="text/css" href="stylesheets/resetHome.css" />
    <link rel="stylesheet" type="text/css" href="stylesheets/home.css" />
    <link rel="stylesheet" type="text/css" href="stylesheets/style-responsive.css" />    
    <link rel="stylesheet" type="text/css" href="stylesheets/login.css" />
    <link rel="stylesheet" type="text/css" href="stylesheets/signup.css" />  

    <script>
         var piwikServer = "{{piwikServer}}";
    </script>
 	<script src="/javascripts/libraries/header.js"></script>    
</head>

<body>
{{> loginPartial}}
{{> adminPartial}}


<div class="container">

<!-- section start-page -->

  <section class="start-page parallax-background" id="home">
  
    <div class="opacity"></div>
      <div class="content">

        <!-- login and signup button -->
        <div class="login-signup-container">
          <button class="login-home" onclick="document.getElementById('id01').style.display='block'; $('html').toggleClass('noscroll')">Log In</button>
          <div id="id01" class="login-modal">
            <span onclick="document.getElementById('id01').style.display='none'; $('html').toggleClass()" class="close" title="Close  Modal">x</span>
              <form class="login-modal-content animate" action="/action_page.php">
                <div class="container">
                  <input type="text" placeholder="Email" name="uname" required> <br>
                  <input type="password" placeholder="Password" name="psw" required> <br>
                  <button type="submit" class="login-submit" onclick="window.location='/dashboard';">Log In</button> <br>
                  <span class="psw"><a href="/resetPassword">Forgot your password?</a></span>
                </div>
              </form>
          </div>
          <button class="signup-home" onclick="document.getElementById('id02').style.display='block'; $('html').toggleClass('noscroll')">Sign Up</button>
          <div id="id02" class="signup-modal">
              <span onclick="document.getElementById('id02').style.display='none'; $('html').toggleClass()" class="close" title="Close Modal">x</span>
              <form class="modal-content animate" action="/action_page.php">
                  <div class="container">
                      <input type="text" placeholder="Full Name" name="name" required> <br>
                      <input type="text" placeholder="Email" name="email" required> <br>
                      <input type="password" placeholder="Password" name="psw" required> <br>
                      <button type="submit" class="signup-submit" onclick="window.location='/dashboard';">Sign Up</button>
                  </div>
              </form>
          </div>
        </div>

        <div class="text">
        
          <h1>Welcome to<br/>
          <span>Class Transcribe</span></h1>
          
          <a href="#about-us"><div class="read-more">Read more</div></a>
          
        </div>
        <div class="arrow-down"></div>
      </div>
  
  </section>


  <!-- section menu -->
  
  <section class="menu">

    <div class="menu-content">
    
    <div class="logo">UIUC</div>
    
      <ul id="menu">
        <li><a href="#home">HOME</a></li>
        <li><a href="#about-us">ABOUT US</a></li>
        <li><a href="#courses">COURSES</a></li>
        <li><a href="#contact">CONTACT</a></li>
      </ul>
    </div>
  
  </section>


  <!-- section about us -->
  
  <section class="about-us" id="about-us">
  
    <h1>ABOUT US</h1>
    <hr/>
    <p class="title">University Of Illinois at Urbana-Champaign</p>
  
      <div class="column-one">
  
        <div class="circle-one"></div>
    
           <h2>WHAT IS CT</h2>
    
      </div>
  
      <div class="column-two">
  
        <div class="circle-two"></div>
    
          <h2>STUDENT FAQ</h2>
    
      </div>
  
  
      <div class="column-three">
  
        <div class="circle-three"></div>
    
        <h2>INSTRUCTOR FAQ</h2>
    
    </div>  
    

  </section>
  
  <div class="clear"></div>  

  <!-- courses-->

  <section class="courses" id="courses">


    <div class="courses-margin">
    
      <h1>COURSES</h1>
      <hr/> 
    
    <!-- 1 item courses-->
    
        <ul class="grid">
        
          <li>
            <a href="/cs446-fa16">
                <div class="text">
                  <p>CS 446</p>
                  <p class="description">Fall 2016</p>
              </div>
            </a>
          </li>

          <li>
            <a href="/cs225-sp16">
                <div class="text">
                  <p>CS 225</p>
                  <p class="description">Spring 2016</p>   
              </div>
            </a>
          </li>
          
          <!-- 2 item courses-->
          
          <li>
            <a href="/chem233-sp16">
                <div class="text">
                  <p>CHEM 233</p>
                  <p class="description">Spring 2016</p>               
              </div>
            </a>
          </li>      

          <!-- 3 item courses-->
          
          <li>
            <a href="/cs241">
                <div class="text">
                  <p>CS 241</p>
                  <p class="description">Spring 2015</p>               
              </div>
            </a>
          </li>      


          <!-- 4 item courses-->
          
          <li>
            <a href="/cs225">
                <div class="text">
                  <p>CS 225</p>
                  <p class="description">Fall 2015</p>   
              </div>
            </a>
          </li>    

          <!-- 5 item courses-->
          
          <li>
            <a href="/ece210">
                <div class="text">
                  <p>ECE 210</p> 
                  <p class="description">Spring 2015</p>           
              </div>
            </a>
          </li>    
          

          <!-- 6 item courses-->
          
          <li>
            <a href="/adv582">
                <div class="text">
                  <p>ADV 582</p>
                  <p class="description">Fall 2015</p>   
              </div>
            </a>
          </li>         
           
         <!-- 7 item courses-->
          
          <!-- <li>
            <a href="#">
                <div class="text">
                  <p>COURSE 7</p> 
                  <p class="description">Your text here...</p>           
              </div>
            </a>
          </li>     -->
          
          <!-- 8 item courses-->
          
          <!-- <li>
            <a href="#">
                <div class="text">
                  <p>COURSE 8</p> 
                  <p class="description">Your text here...</p>           
              </div>
            </a>
          </li> -->          
          
          <!-- 9 item courses-->
          
          <!-- <li>
            <a href="#">
                <div class="text">
                  <p>COURSE 9</p> 
                  <p class="description">Your text here...</p>           
              </div>
            </a>
          </li>          
        </ul>  --> 
   
   </div>   
         
   </section>

  
   <div class="clear"></div>  
  
  
    <!-- Contact-->

    <section class="contact" id="contact">
        <h1>Contact</h1>
        <hr/>       
      
        <div class="content">
          
          <!-- <div class="form">
          
            <form action="#" method="post" enctype="text/plain">
          
            <input name="your-name" id="your-name" value="YOUR NAME" />
            <input name="your-email" id="your-email" value="YOUR E-MAIL" />
          
            <textarea id="message" name="message" >MESSAGE</textarea>
 
            <a >
              <div class="button">
                <span >SEND</span>
              </div>
            </a> 
 
            </form>
          
          </div> -->
          
          
          <div class="contact-text">

            Please use
            the following e-mail address<br/><br/>

            e-mail: <strong>classTranscribe@gmail.com</strong>
          
          </div>
        
        
        </div>
      
    </section>


    <section class="footer">
    
      <div class="margin">
      
        <div class="menu-footer">
        
        <a href="#home">Home</a>
        <a href="https://www.facebook.com/classtranscribe">Facebook</a>
        
        </div>
        
          <div class="copyright">© 2016. All Rights Reserved UIUC</div>        

      </div>
    
    </section>    
    
</div>

  <!-- Scripts -->
  
  <script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/jquery/1.10.2/jquery.min.js"></script> <!-- jQuery -->
  <script src="/javascripts/libraries/jquery.parallax.js"></script> <!-- jQuery Parallax -->
  <script src="/javascripts/libraries/jquery.nicescroll.js"></script> <!-- jQuery NiceScroll -->
  <script src="/javascripts/libraries/jquery.sticky.js"></script> <!-- jQuery Stick Menu -->
  <script src="/javascripts/libraries/homeScript.js"></script> <!-- All script -->


</body>

</html>



