<!DOCTYPE html>
<html lang="en">

<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0"> 

    <title>Login</title>

    <link rel="stylesheet" type="text/css" href="stylesheets/login.css" />
    <script language="JavaScript" type="text/javascript" src="/javascripts/libraries/jquery-1.11.2.min.js"></script>
    <script src="/javascripts/controllers/accountRegistration.js"></script>
</head>

<body>
    <form id="login-form" method="POST" action="/login/submit">
        <div class="container">
            <h1>LOG IN</h1>
            <input type="text" placeholder="Email" pattern="^\w+@[a-z]+?\.edu$" name="username" required> <br>
            <input type="password" placeholder="Password" name="password" required> <br>
            <button type="submit" class="login-submit">Submit</button> <br>
            <span class="psw"><a href="/resetPassword">Forgot your password?</a></span>
        </div>
    </form> 
    <div class="signup-container">
        <span class="signup">Don't have an account? <a href="/signup">Signup</a></span>
    </div>
</body>

</html>