<!DOCTYPE html>
<html lang="en">

<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0"> 

    <title>Login</title>

    <link rel="stylesheet" type="text/css" href="stylesheets/login.css" />
</head>

<body>
    <form method="POST" action="/login">
        <div class="container">
            <h1>LOG IN</h1>
            <input type="text" placeholder="Email" pattern="[a-z0-9._%+-]+@[a-z0-9.-]+\.edu" name="email" required> <br>
            <input type="password" placeholder="Password" name="password" required> <br>
            <button type="submit" class="login-submit">Submit</button> <br>
            <span class="psw"><a href="/resetPassword">Forgot your password?</a></span>
        </div>
    </form>  
</body>

</html>