<html>
    <head>
    <link rel="stylesheet" type="text/css" href="stylesheets/loginbar.css" />
    </head>

    <body>
        <div class = "login-bar">
            <a class = "login-bar-link", href="/login">Sign In</a>
         </div>
    </body>
</html>

