<html>
  <head>
    <script src="/javascripts/libraries/jquery-1.11.2.min.js"></script>
    <script>
      $(document).ready(function () {
        var className = "{{className}}";
        var netID = window.prompt("What's your NetID?", "");
        console.log(netID);
        $.ajax({
          type: "GET",
          url: "/queue/" + className + "/" + netID,
          success: function (taskName) {
            if (taskName.indexOf("Full_Lecture") !== -1) {
              window.location = "/first/" + className + "/" + netID + "/?task=" + taskName;
            } else {
              $(".messageArea").text(taskName);
            }
          }
        });
        
      });
    </script>
    <div class='messageArea'></div>
  </head>
</html>
