<!DOCTYPE html>
<html lang="en">

<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0"> 
    <title>Reset</title>
    <link rel="stylesheet" type="text/css" href="../stylesheets/resetPassword.css" />
</head>

<body>
	<div class="reset-container">
		<h1>Reset your password</h1>
		<h2>Enter your email address below. We'll look for your account and send you a password reset email.</h2>
		<div class="container">
			<input type="text" placeholder="Email" name="uname" required> <br><br><br>
			<!-- 
			On Send Password Reset Button:
			1. Check if email is in database.
			2. If not, display: We couldn't find an account associated with that email address. Please check that you've typed in the correct email address or sign up for an account.
			3. If yes, send email to address to reset password.
			-->
			<button type="send-password" class="send-password" onclick="document.getElementById('id03').style.display='block'; $('html').toggleClass('noscroll')">Send Password Reset</button>
				<div id="id03" class="error-modal">
	            <span onclick="document.getElementById('id03').style.display='none'; $('html').toggleClass()" class="close" title="Close  Modal">x</span>
	              <form class="error-modal-content animate" action="/action_page.php">
	                <div class="error">
	                We couldn't find an account associated with that email address. Please check that you've typed in the correct email address or sign up for an account.
	                </div>
	              </form>
	          </div>
		</div>
	</div>
</body>