<!DOCTYPE html>
<html lang="en">

<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0"> 

    <title>Reset Password</title>
    
	<link rel="stylesheet" type="text/css" href="/stylesheets/resetPassword.css" />
</head>

<body>
	<form method="POST" action="/resetPassword">
		<div class="reset-container">
			<h1>RESET PASSWORD</h1>
			<h2>Enter the email address you used to register for ClassTranscribe.</h2> <br>
			<input type="text" placeholder="Email" pattern="[a-z0-9._%+-]+@[a-z0-9.-]+\.edu" name="email" required> <br>
			<button type="submit" name="password-submit" class="email-submit">SUBMIT</button> <br>
		</div> 
	</form>
</body>

</html>