<!DOCTYPE html>
<html lang="en">

<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0"> 
    <title>Reset</title>
    <link rel="stylesheet" type="text/css" href="/stylesheets/resetPassword.css" />
</head>

<body>
	<!-- 
		Forgot Password page:

		Email address:
		New password:
		Verify new password:

		When submitted, first check if email address is in the redis database.
		If so, make sure the the two entered passwords are the same.
		If so, replace the current password in the redis database with the new password.
	-->
    <div class="reset-container">
		{{!-- <h1>Enter your email address below and the new password.</h1> --}}
        <input type="text" placeholder="Email" name="uname" required> <br>
        <input type="password" placeholder="Password" name="psw" required> <br>
		<input type="password" placeholder="Verify Password" name="re-psw" required> <br>
        <button type="submit" class="password-submit" onclick="window.location='/login';">Reset Password</button> <br>
    </div>    
</body>

</html>