<!DOCTYPE html>
<html lang="en">

<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0"> 

    <title>Signup</title>

    <link rel="stylesheet" type="text/css" href="stylesheets/signup.css" />
</head>

<body>
    
    <div class="container">
        <input type="text" placeholder="Full Name" name="name" required> <br>
        <input type="text" placeholder="Email" name="email" required> <br>
        <input type="password" placeholder="Password" name="psw" required> <br>
        <button type="submit" class="signup-submit" onclick="window.location='/dashboard';">Sign Up</button>
    </div>

</body>

</html>