<!DOCTYPE html>
<html lang="en">

<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0"> 

    <title>Verify</title>
    
    <link rel="stylesheet" type="text/css" href="/stylesheets/verify.css" />
    <script language="JavaScript" type="text/javascript" src="/javascripts/libraries/jquery-1.11.2.min.js"></script>
    <script src="/javascripts/controllers/accountRegistration.js"></script>
</head>

<body>
    <div class="verify-container">
		<h1>Thanks! Your email has been verified.</h1>
    </div> 
</body>

</html>