<!DOCTYPE html>

<html lang="en">

<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0"> 

    <title>Watch Lecture Videos</title>

    <link rel="stylesheet" type="text/css" href="stylesheets/watchLectureVideos.css" />
    <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/jquery/1.9.0/jquery.min.js"></script>
</head>

<body>
	<div class="header-container">
	    <header class="lecture-videos"> Watch Lecture Videos </header>
	    <br> 
        <div class="line-separator-header"></div>
    </div>

    <div class="lecture-video-container">
        <video width="800" controls>
            <source src="/getVideo" type="video/mp4">
        </video>
    </div>
</body>


</html>